/* Global Layout Set-up */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #fefeff;
}


/* Link Styles */

a {
    text-decoration: none;
    color: #d8f2ff;
}

a:hover {
    text-decoration: underline;
}

.email {
    color: #199ef3;
}


/* Section Styles */

.main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #d8f2ff;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: #fefeff
}

header {
    text-align: center;
    background: url('../images/California.jpg') no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
}

header {
    line-height: 1.5;
}

header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
}

header .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
}

.tag {
    background-color: #b9defe;
    color: black;
    padding: 5px;
    border: 5px solid;
    border-radius: 10px;
    display: table;
    margin: 0px auto;
}

.location {
    border: 5px solid;
    background-color: black;
    color: whitesmoke;
    padding: 5px 10px 5px;
    max-width: 200px;
    width: 50%;
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    width: 50%;
    text-align: center;
    background: #b9defe;
    border-bottom: 4px solid #6fb6f6;
    border-radius: 6px;
    transition: all .5s;
}

.contact {
    margin: 0 auto;
    padding: 20px 40px 20px;
    max-width: 500px;
    width: 50%;
    text-align: center;
    align-content: center;
    background: #b9defe;
    border-bottom: 4px solid #6fb6f6;
    border-radius: 6px;
    transition: all .5s;
}

.top3 {
    margin: 30px;
    padding: 10px 20px 10px;
    max-width: 500px;
    max-height: 250px;
    width: 50%;
    height: 250px;
    background: #b9defe;
    border-bottom: 4px solid #6fb6f6;
    border-radius: 6px;
    transition: all .5s;
}

.ctitle {
    margin: 10px;
    text-align: center;
}

.card:hover {
    border-color: #199ef3;
}

ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: #6fb6f6;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #199ef3;
}

.img {
    margin: 10px;
    border: 3px solid;
    border-radius: 10px;
}

footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
}

footer .copyright {
    top: -8px;
    font-size: .75em;
}

footer ul {
    list-style-type: none;
    margin: 50px;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
}

a.twitter {
    background-image: url(images/twitter.svg);
}

a.linkedin {
    background-image: url(images/linkedin.svg);
}

a.github {
    background-image: url(images/github.svg);
}

a.social:hover {
    opacity: 1;
}

.clearfix {
    clear: both;
}


/* Styles for larger screens */

@media screen and (min-width: 720px) {
    .flex {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: flex;
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
    header {
        min-height: 470px;
    }
    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }
    main {
        padding-top: 20px;
    }
    main p {
        line-height: 1.6em;
    }
    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: 40px auto;
    }
}